@use '../abstracts/' as *;

body {
  font-family: $ff-base;
  font-size: fs(400);
  font-weight: $fw-400;
  color: clr(neutral, 400);
  background-color: clr(neutral, 100);
  text-align: center;
}

img {
  margin: 0 auto;
  height: 40vh;
}
