$colors: (
  neutral: (
    light: white,
    normal: gray,
    dark: black,
  ),
  primary: (
    light: lightblue,
    normal: blue,
    dark: darkblue,
  ),
);

$pink: hotpink;
$red: red;
$blue: blue;
$main: steelblue;

$colors2: (
  neutral: (
    100: #fff,
    900: #1f3049,
  ),
  primary: (
    400: #0066ff,
  ),
);
