// @use 'functions' as *;

$ff-sans: 'Open Sans', sans-serif;
$ff-serif: 'Abril Fatface', serif;

$ff-base: $ff-sans;
$ff-accent: $ff-serif;

$font-sizes: (
  300: 1rem,
  400: 1.125rem,
  // 18px
  500: 1.3125rem,
  // 21px
  600: 1.5rem,
  // 24px
  800: 3rem,
  // 48px
  900: 3.75rem,
  // 60px
  999: pxToRem(80) // И тут я хочу использовать функцию, чтобы
  // не высчитывать ремы сторонние калькуляторы,,
);

$fw-400: 400;
$fw-700: 700;
